{block content}
<form>
	<div>
		<label>method:
			<select name="action" id="actionSelect">
				<option value="save">save</option>
				<option value="invalid">invalid</option>
			</select>
		</label>
	</div>
	<div>
		<label>ID hry:
			<input type="text" name="id" id="idInput" />
		</label>
	</div>
	<div>
		<label>ID hráče:
			<input type="text" name="playerId" id="playerIdInput" />
		</label>
	</div>
	<div>
		<label>Score:
			<input type="text" name="score" id="scoreInput" />
		</label>
	</div>
	<span id="output"></span>
	<button id="submit" type="button">send</button>
</form>
{/block}


{block scripts}
{include parent}
<script>
$(function() {
	$('#submit').click(function(e) {
		method = $('#actionSelect').val();
		id = $('#idInput').val();
		playerId = $('#playerIdInput').val();
		score = $('#scoreInput').val();
		serviceUrl = {plink :Score:};
		jsonData = {"jsonrpc": "2.0", "method": method, "params": {"score": score, "playerId": playerId}, "id": id};

		e.preventDefault();
		$.ajax({
			url: serviceUrl,
			type: "POST",
			dataType: "json",
			contentType: "application/json",
			data: JSON.stringify(jsonData)
		}).done(function( data ) {
			console.log(data);
			$('#output').html(JSON.stringify(data));
		});
	});
});
</script>
{/block}